*{
    margin:0;
    padding: 0;
}

header, footer{
    background-color: #1A1C22;
}

aside{
    background-color: #6C757D;
}

section div{
    background-color: #343A40;
}

body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px calc(100vh - 230px) 100px;
    grid-row-gap: 15px;
}

body>div{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-row-gap: 15px;
}

section{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25px 25px 25px 25px 25px 25px;
    grid-row-gap: 15px;
}

@media (min-width: 600px){
    section{
        grid-template-columns: 48.5% 48.5%;
        grid-template-rows: 66px 66px 66px;
        grid-column-gap: 15px;
    }
}

@media (min-width: 900px){
    body>div{
        grid-template-columns: 400px calc(100% - 430px);
        grid-template-rows: auto;
        grid-column-gap: 15px;
    }
    section{
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
    }
}

@media (min-width: 1200px){
    section{
        grid-template-columns: 32.5% 32.5% 32.5%;
        grid-template-rows: auto auto;
        grid-column-gap: 15px;
    }
}